[submodule "src/dr_libs"]
	path = src/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "src/lodepng"]
	path = src/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "src/libonnx"]
	path = src/libonnx
	url = https://github.com/xboot/libonnx.git
